*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.food-heading{
  background-color: red;
  color: wheat ;
  margin-left: 10px;
  margin-right: 10PX;
  border-radius: 10px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  padding: 6px;
  text-align: center;
}